ansible/roles/nifi-start/files/nifi_flow.json
{"flowContents":{"identifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","instanceIdentifier":"5903dbf9-0197-1000-92ba-78cc866662fa","name":"nifi_flow","comments":"","position":{"x":-216.0,"y":-48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bb0a7002-be54-3fcb-b11d-46f265c015fa","instanceIdentifier":"5de4a2a9-0197-1000-6a15-1488550b3b9c","name":"ExecuteScript","comments":"","position":{"x":288.0,"y":512.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (flowFile != null) {\n    flowFile = session.write(flowFile, { inputStream, outputStream ->\n        def text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        def obj = new groovy.json.JsonSlurper().parseText(text)\n\n        def bulkOp = [\n            updateOne: [\n                filter: [\n                    id_estacion: obj.id_estacion,\n                    timestamp: obj.timestamp\n                ],\n                update: [ '$set': obj ],\n                upsert: true\n            ]\n        ]\n\n        outputStream.write(groovy.json.JsonOutput.toJson(bulkOp).getBytes(StandardCharsets.UTF_8))\n    } as StreamCallback)\n\n    session.transfer(flowFile, REL_SUCCESS)\n}\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"a6a04302-b16a-3fa1-9e18-1796bf92ca44","instanceIdentifier":"5df81c47-0197-1000-b3b9-e5a6b1125aa6","name":"MergeContent","comments":"","position":{"x":760.0,"y":512.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"1 min","Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"3bceb480-0197-1000-4047-5bfa152ec9bb","instanceIdentifier":"7795a11b-3b8a-3ab6-eeb7-e78e1f4ba1a0","name":"FetchFile","comments":"","position":{"x":-248.0,"y":-216.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"3bceb482-0197-1000-385f-819bbbcb8268","instanceIdentifier":"e6830397-bcec-3b80-2856-5abec542fcf9","name":"ListFile","comments":"","position":{"x":-240.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"false","File Filter":".*\\.json$","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/data/incoming","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"5e18ec51-0197-1000-2429-8a441b0317f1","instanceIdentifier":"daec9c24-5727-3abd-4ae3-e01ef23e0034","name":"MergeContent","comments":"","position":{"x":896.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep All Unique Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"1 min","Demarcator File":",","Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"988cf61a-2030-3cfb-9601-86a5b2d6d8f6","instanceIdentifier":"5da757b0-0197-1000-50f8-657dbf4e0cd2","name":"SplitJson","comments":"","position":{"x":-232.0,"y":512.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"3bceb481-0197-1000-23dc-bac7963e7ede","instanceIdentifier":"734a6031-0bff-3096-c889-3cf494555ec7","name":"UpdateRecord","comments":"","position":{"x":-240.0,"y":232.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"/timestamp":"${now():format(\"yyyy-MM-dd'T'HH:mm:ss'Z'\")}","Record Writer":"3bceb47d-0197-1000-0150-9932ed2a9d12","Record Reader":"3bceb47c-0197-1000-2093-3b806c351fe9","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/timestamp":{"name":"/timestamp","displayName":"/timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"3b39a512-840e-3cd3-ae33-df6389861d61","instanceIdentifier":"0df06fc7-d4c5-31f8-2478-f79f171511c1","name":"PutMongoBulkOperations","comments":"","position":{"x":304.0,"y":320.0},"type":"org.apache.nifi.processors.mongodb.PutMongoBulkOperations","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.4.0"},"properties":{"mongo-client-service":"0a0ac66e-6bcc-38bd-bfed-a87774ac181b","Ordered":"true","Mongo Collection Name":"chc","Mongo Database Name":"batch","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Ordered":{"name":"Ordered","displayName":"Ordered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"5e172819-0197-1000-b151-bf7ad0280868","instanceIdentifier":"75707bb3-3413-3cfe-aa5e-ff420211100f","name":"SplitJson","comments":"","position":{"x":264.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"05c7def3-8313-3a26-b714-acc5bfcca390","instanceIdentifier":"5e09b932-0197-1000-c968-933d23e7290a","name":"ReplaceText","comments":"","position":{"x":760.0,"y":312.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(.*)","Replacement Value":"[$1]","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"5e1e0547-0197-1000-024d-d92a3daf2858","instanceIdentifier":"fa832fc9-4e19-37db-d7a2-87145baf6746","name":"ReplaceText","comments":"","position":{"x":896.0,"y":120.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(.*)","Replacement Value":"[$1]","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"100 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"5e186226-0197-1000-d722-d4b00de0756d","instanceIdentifier":"152fd107-35e1-32f4-d4ea-75c085382d7d","name":"ExecuteScript","comments":"","position":{"x":896.0,"y":-232.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport com.fasterxml.jackson.databind.ObjectMapper\nimport com.fasterxml.jackson.databind.node.ObjectNode\nimport com.fasterxml.jackson.databind.node.JsonNodeFactory\nimport java.time.*\nimport java.time.format.DateTimeFormatter\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef mapper = new ObjectMapper()\n\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def inputJson = mapper.readTree(inputStream)\n    def nodeFactory = JsonNodeFactory.instance\n\n    def msTag = inputJson.get(\"MS_TAG\").asText()\n    def msValor = inputJson.get(\"MS_VALOR\").asDouble()\n\n    def localDateTime = LocalDateTime.parse(\n        inputJson.get(\"MS_FECHA_HORA\").get(\"date\").asText(),\n        DateTimeFormatter.ofPattern(\"yyyy-MM-dd HH:mm:ss\")\n    )\n    def zoneId = ZoneId.of(inputJson.get(\"MS_FECHA_HORA\").get(\"timezone\").asText())\n    def zonedDateTime = ZonedDateTime.of(localDateTime, zoneId).withZoneSameInstant(ZoneOffset.UTC)\n    def timestamp = zonedDateTime.format(DateTimeFormatter.ISO_INSTANT)\n\n    def root = nodeFactory.objectNode()\n    def updateOne = nodeFactory.objectNode()\n    def filter = nodeFactory.objectNode()\n    def update = nodeFactory.objectNode()\n    def set = nodeFactory.objectNode()\n\n    filter.put(\"sensor_id\", msTag)\n    filter.put(\"timestamp\", timestamp)\n\n    set.put(\"sensor_id\", msTag)\n    set.put(\"valor\", msValor)\n    set.put(\"timestamp\", timestamp)\n    set.put(\"zona_horaria\", zoneId.toString())\n    set.put(\"tipo_dato\", \"medida_simple\")\n\n    update.set(\"\\$set\", set)\n    updateOne.set(\"filter\", filter)\n    updateOne.set(\"update\", update)\n    updateOne.put(\"upsert\", true)\n    root.set(\"updateOne\", updateOne)\n\n    outputStream.write(mapper.writeValueAsBytes(root))\n} as StreamCallback)\n\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"3bceb484-0197-1000-c9a3-7d4984ee40ee","instanceIdentifier":"2a959ddb-2364-3bb2-e850-5d52c01fa3bc","name":"RouteOnAttribute","comments":"","position":{"x":-240.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","isAveragesJSON":"${filename:equals('averages.json')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isAveragesJSON":{"name":"isAveragesJSON","displayName":"isAveragesJSON","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"5e16b153-0197-1000-ebf1-50d032f52419","instanceIdentifier":"e7dc52eb-c383-3aa4-a0fe-029ed4c7f6e5","name":"PutMongoBulkOperations","comments":"","position":{"x":400.0,"y":0.0},"type":"org.apache.nifi.processors.mongodb.PutMongoBulkOperations","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.4.0"},"properties":{"mongo-client-service":"0a0ac66e-6bcc-38bd-bfed-a87774ac181b","Ordered":"true","Mongo Collection Name":"ebro","Mongo Database Name":"batch","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Ordered":{"name":"Ordered","displayName":"Ordered","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6038613d-d4f8-3552-9747-7d252d3cbbb7","instanceIdentifier":"5dfc0ae7-0197-1000-1833-0da9737f8b43","name":"","source":{"id":"bb0a7002-be54-3fcb-b11d-46f265c015fa","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"ExecuteScript","comments":"","instanceIdentifier":"5de4a2a9-0197-1000-6a15-1488550b3b9c"},"destination":{"id":"a6a04302-b16a-3fa1-9e18-1796bf92ca44","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"MergeContent","comments":"","instanceIdentifier":"5df81c47-0197-1000-b3b9-e5a6b1125aa6"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"9913b6f8-8596-3e39-bca5-3191a40e896f","instanceIdentifier":"5e19064d-0197-1000-62d7-9de09229e2d9","name":"","source":{"id":"5e186226-0197-1000-d722-d4b00de0756d","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"ExecuteScript","comments":"","instanceIdentifier":"152fd107-35e1-32f4-d4ea-75c085382d7d"},"destination":{"id":"5e18ec51-0197-1000-2429-8a441b0317f1","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"MergeContent","comments":"","instanceIdentifier":"daec9c24-5727-3abd-4ae3-e01ef23e0034"},"labelIndex":0,"zIndex":21,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"357d222e-d38b-3de0-b7e8-77ef1d97b24d","instanceIdentifier":"5dce4d04-0197-1000-b4ad-6715888c523b","name":"","source":{"id":"3bceb481-0197-1000-23dc-bac7963e7ede","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"UpdateRecord","comments":"","instanceIdentifier":"734a6031-0bff-3096-c889-3cf494555ec7"},"destination":{"id":"988cf61a-2030-3cfb-9601-86a5b2d6d8f6","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"SplitJson","comments":"","instanceIdentifier":"5da757b0-0197-1000-50f8-657dbf4e0cd2"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"c7c3072a-c975-327b-907a-ddbba7a1151c","instanceIdentifier":"5e0ab95b-0197-1000-8671-92821e0c88a1","name":"","source":{"id":"a6a04302-b16a-3fa1-9e18-1796bf92ca44","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"MergeContent","comments":"","instanceIdentifier":"5df81c47-0197-1000-b3b9-e5a6b1125aa6"},"destination":{"id":"05c7def3-8313-3a26-b714-acc5bfcca390","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"ReplaceText","comments":"","instanceIdentifier":"5e09b932-0197-1000-c968-933d23e7290a"},"labelIndex":0,"zIndex":18,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"701a7693-b4d0-38a6-9a16-9ccc983d8c38","instanceIdentifier":"5e1e3ec7-0197-1000-0575-620f8fdf22ce","name":"","source":{"id":"5e1e0547-0197-1000-024d-d92a3daf2858","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"ReplaceText","comments":"","instanceIdentifier":"fa832fc9-4e19-37db-d7a2-87145baf6746"},"destination":{"id":"5e16b153-0197-1000-ebf1-50d032f52419","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"PutMongoBulkOperations","comments":"","instanceIdentifier":"e7dc52eb-c383-3aa4-a0fe-029ed4c7f6e5"},"labelIndex":0,"zIndex":23,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"9757f3a1-fe4b-3359-b479-f9ea303e5140","instanceIdentifier":"5de5b599-0197-1000-4c4d-5daeab7ad322","name":"","source":{"id":"988cf61a-2030-3cfb-9601-86a5b2d6d8f6","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"SplitJson","comments":"","instanceIdentifier":"5da757b0-0197-1000-50f8-657dbf4e0cd2"},"destination":{"id":"bb0a7002-be54-3fcb-b11d-46f265c015fa","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"ExecuteScript","comments":"","instanceIdentifier":"5de4a2a9-0197-1000-6a15-1488550b3b9c"},"labelIndex":0,"zIndex":13,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"3bceb485-0197-1000-d96c-b7e28ff62fdb","instanceIdentifier":"634d8d24-aff0-3a0d-5e96-7418271339cd","name":"success","source":{"id":"3bceb480-0197-1000-4047-5bfa152ec9bb","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"FetchFile","comments":"","instanceIdentifier":"7795a11b-3b8a-3ab6-eeb7-e78e1f4ba1a0"},"destination":{"id":"3bceb484-0197-1000-c9a3-7d4984ee40ee","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"RouteOnAttribute","comments":"","instanceIdentifier":"2a959ddb-2364-3bb2-e850-5d52c01fa3bc"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"1dc0cb25-4653-3fdb-ba93-631f00dd7d71","instanceIdentifier":"5df5e741-0197-1000-137d-52a7ae2cce73","name":"","source":{"id":"3bceb484-0197-1000-c9a3-7d4984ee40ee","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"RouteOnAttribute","comments":"","instanceIdentifier":"2a959ddb-2364-3bb2-e850-5d52c01fa3bc"},"destination":{"id":"5e172819-0197-1000-b151-bf7ad0280868","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"SplitJson","comments":"","instanceIdentifier":"75707bb3-3413-3cfe-aa5e-ff420211100f"},"labelIndex":0,"zIndex":15,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"74b6bbf4-6c60-3e7a-aa09-c888afe15b05","instanceIdentifier":"5e1880ce-0197-1000-d98d-76f7c6ce9d52","name":"","source":{"id":"5e172819-0197-1000-b151-bf7ad0280868","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"SplitJson","comments":"","instanceIdentifier":"75707bb3-3413-3cfe-aa5e-ff420211100f"},"destination":{"id":"5e186226-0197-1000-d722-d4b00de0756d","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"ExecuteScript","comments":"","instanceIdentifier":"152fd107-35e1-32f4-d4ea-75c085382d7d"},"labelIndex":0,"zIndex":20,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"f855c4b7-16e1-3d72-ae3a-3aa5769f02e9","instanceIdentifier":"5e0acc46-0197-1000-ce1e-52f36cec8a76","name":"","source":{"id":"05c7def3-8313-3a26-b714-acc5bfcca390","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"ReplaceText","comments":"","instanceIdentifier":"5e09b932-0197-1000-c968-933d23e7290a"},"destination":{"id":"3b39a512-840e-3cd3-ae33-df6389861d61","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"PutMongoBulkOperations","comments":"","instanceIdentifier":"0df06fc7-d4c5-31f8-2478-f79f171511c1"},"labelIndex":0,"zIndex":19,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"3bceb489-0197-1000-c496-13b79117fe50","instanceIdentifier":"2ddf0278-ea23-3dfd-79d6-f5fd86574ed9","name":"success","source":{"id":"3bceb482-0197-1000-385f-819bbbcb8268","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"ListFile","comments":"","instanceIdentifier":"e6830397-bcec-3b80-2856-5abec542fcf9"},"destination":{"id":"3bceb480-0197-1000-4047-5bfa152ec9bb","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"FetchFile","comments":"","instanceIdentifier":"7795a11b-3b8a-3ab6-eeb7-e78e1f4ba1a0"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"e8210106-8e0b-3300-a4b6-dd961f699530","instanceIdentifier":"5e1e2c9f-0197-1000-4dad-252954574504","name":"","source":{"id":"5e18ec51-0197-1000-2429-8a441b0317f1","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"MergeContent","comments":"","instanceIdentifier":"daec9c24-5727-3abd-4ae3-e01ef23e0034"},"destination":{"id":"5e1e0547-0197-1000-024d-d92a3daf2858","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"ReplaceText","comments":"","instanceIdentifier":"fa832fc9-4e19-37db-d7a2-87145baf6746"},"labelIndex":0,"zIndex":22,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"3bceb487-0197-1000-5f1a-f3e53d186a82","instanceIdentifier":"81608668-756f-3a41-86cc-99e053c9c535","name":"success","source":{"id":"3bceb484-0197-1000-c9a3-7d4984ee40ee","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"RouteOnAttribute","comments":"","instanceIdentifier":"2a959ddb-2364-3bb2-e850-5d52c01fa3bc"},"destination":{"id":"3bceb481-0197-1000-23dc-bac7963e7ede","type":"PROCESSOR","groupId":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599","name":"UpdateRecord","comments":"","instanceIdentifier":"734a6031-0bff-3096-c889-3cf494555ec7"},"labelIndex":0,"zIndex":3,"selectedRelationships":["isAveragesJSON"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"3bceb47c-0197-1000-2093-3b806c351fe9","instanceIdentifier":"e788e237-5379-37d2-9916-d49ec3343ef5","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"averages-schema","starting-field-strategy":"ROOT_NODE","schema-registry":"525d117b-77ed-37bc-d413-d2faaf0ca6ba","starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"3bceb47d-0197-1000-0150-9932ed2a9d12","instanceIdentifier":"4fe76c25-b777-333e-9ce8-f692b2b7710f","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"},{"identifier":"0a0ac66e-6bcc-38bd-bfed-a87774ac181b","instanceIdentifier":"06aae392-9476-3359-a391-3c1595632150","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.4.0"},"properties":{"SSL Context Service":null,"Mongo URI":"mongodb://root:root@10.0.20.80:27017/admin","Database User":"root","Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"437dc9ce-b8b9-3a89-b1c4-d4283bb51599"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}