ansible/roles/nifi-start-mongo-cassandra/files/mongo-cass.json
{"flowContents":{"identifier":"40df479a-9855-3463-95c9-b099c0dc4b7c","instanceIdentifier":"577c9f55-0197-1000-b07a-d059ec564d5a","name":"mongo-cass","comments":"","position":{"x":464.0,"y":144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"64fbf18d-9586-321a-ad1c-76808c8fa59e","instanceIdentifier":"577e28bb-0197-1000-3c62-3bcb58c9a4bc","name":"GetMongo","comments":"","position":{"x":8.0,"y":304.0},"type":"org.apache.nifi.processors.mongodb.GetMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.17.0"},"properties":{"mongo-client-service":"eb9d187f-d328-3235-94fc-a49939f6eec7","mongo-charset":"UTF-8","ssl-context-service":null,"Query":null,"ssl-client-auth":"REQUIRED","mongo-date-format":"yyyy-MM-dd'T'HH:mm:ss'Z'","json-type":"Extended","Projection":null,"Mongo Database Name":"mi_base_de_datos","mongo-query-attribute":null,"results-per-flowfile":null,"Mongo URI":null,"Batch Size":null,"Mongo Collection Name":"mi_coleccion","Sort":null,"use-pretty-printing":"true","Limit":null,"get-mongo-send-empty":"false"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"mongo-charset":{"name":"mongo-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"mongo-date-format":{"name":"mongo-date-format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"json-type":{"name":"json-type","displayName":"JSON Type","identifiesControllerService":false,"sensitive":false},"Projection":{"name":"Projection","displayName":"Projection","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"mongo-query-attribute":{"name":"mongo-query-attribute","displayName":"Query Output Attribute","identifiesControllerService":false,"sensitive":false},"results-per-flowfile":{"name":"results-per-flowfile","displayName":"Results Per FlowFile","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"Sort":{"name":"Sort","displayName":"Sort","identifiesControllerService":false,"sensitive":false},"use-pretty-printing":{"name":"use-pretty-printing","displayName":"Pretty Print Results JSON","identifiesControllerService":false,"sensitive":false},"Limit":{"name":"Limit","displayName":"Limit","identifiesControllerService":false,"sensitive":false},"get-mongo-send-empty":{"name":"get-mongo-send-empty","displayName":"Send Empty Result","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"},{"identifier":"3d2662c9-aff0-3352-8dd2-c01143fbce19","instanceIdentifier":"5783c6be-0197-1000-34e5-7e4f324dcf90","name":"JoltTransformJSON","comments":"","position":{"x":664.0,"y":288.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"jolt-spec":"{\n  \"caudal_rio\": \"caudal_rio\",\n  \"temperatura\": \"temperatura\",\n  \"nivel_embalse\": \"nivel_embalse\",\n  \"volumen_embalse\": \"volumen_embalse\",\n  \"timestamp\": \"timestamp\"\n}\n","jolt-transform":"jolt-transform-shift","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"},{"identifier":"9115e8fd-4bc4-3729-a699-235ab8c97ad0","instanceIdentifier":"578467f8-0197-1000-3e2b-f3f814379042","name":"ConvertRecord","comments":"","position":{"x":184.0,"y":592.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"record-writer":"292bdecf-0513-3ed7-8f64-e88ef0dd822b","record-reader":"eee704a9-6671-387f-a7cc-900d209a95de","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"},{"identifier":"403642cf-f12b-3f99-a740-1e1deea0709d","instanceIdentifier":"58ae9805-0197-1000-2cee-5db4bf792191","name":"PutCassandraRecord","comments":"","position":{"x":848.0,"y":600.0},"type":"org.apache.nifi.processors.cassandra.PutCassandraRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-cassandra-nar","version":"1.17.0"},"properties":{"put-cassandra-record-batch-statement-type":"LOGGED","cassandra-connection-provider":null,"Cassandra Contact Points":"10.0.2.70:9042","put-cassandra-record-table":"telemetry_data","put-cassandra-record-update-keys":null,"put-cassandra-record-batch-size":"100","SSL Context Service":null,"Username":"cassandra","put-cassandra-record-reader":"04a9539c-b2c4-3b73-b6fc-b3d9a2094d8f","Consistency Level":"SERIAL","Keyspace":"nifi_ks","put-cassandra-record-update-method":"SET","put-cassandra-record-statement-type":"INSERT","Client Auth":"REQUIRED"},"propertyDescriptors":{"put-cassandra-record-batch-statement-type":{"name":"put-cassandra-record-batch-statement-type","displayName":"Batch Statement Type","identifiesControllerService":false,"sensitive":false},"cassandra-connection-provider":{"name":"cassandra-connection-provider","displayName":"Cassandra Connection Provider","identifiesControllerService":true,"sensitive":false},"Cassandra Contact Points":{"name":"Cassandra Contact Points","displayName":"Cassandra Contact Points","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-table":{"name":"put-cassandra-record-table","displayName":"Table name","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-update-keys":{"name":"put-cassandra-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-batch-size":{"name":"put-cassandra-record-batch-size","displayName":"Batch size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-reader":{"name":"put-cassandra-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Consistency Level":{"name":"Consistency Level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"Keyspace":{"name":"Keyspace","displayName":"Keyspace","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-update-method":{"name":"put-cassandra-record-update-method","displayName":"Update Method","identifiesControllerService":false,"sensitive":false},"put-cassandra-record-statement-type":{"name":"put-cassandra-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fd9aae03-82ff-365c-9e32-aaa3e4ff09cd","instanceIdentifier":"578224de-0197-1000-6e9d-fcfe4a118d7f","name":"","source":{"id":"64fbf18d-9586-321a-ad1c-76808c8fa59e","type":"PROCESSOR","groupId":"40df479a-9855-3463-95c9-b099c0dc4b7c","name":"GetMongo","comments":"","instanceIdentifier":"577e28bb-0197-1000-3c62-3bcb58c9a4bc"},"destination":{"id":"3d2662c9-aff0-3352-8dd2-c01143fbce19","type":"PROCESSOR","groupId":"40df479a-9855-3463-95c9-b099c0dc4b7c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5783c6be-0197-1000-34e5-7e4f324dcf90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"},{"identifier":"e02faefe-0f11-3b9a-b333-595f7a2bc59c","instanceIdentifier":"57847efb-0197-1000-302c-23d5da807141","name":"","source":{"id":"3d2662c9-aff0-3352-8dd2-c01143fbce19","type":"PROCESSOR","groupId":"40df479a-9855-3463-95c9-b099c0dc4b7c","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5783c6be-0197-1000-34e5-7e4f324dcf90"},"destination":{"id":"9115e8fd-4bc4-3729-a699-235ab8c97ad0","type":"PROCESSOR","groupId":"40df479a-9855-3463-95c9-b099c0dc4b7c","name":"ConvertRecord","comments":"","instanceIdentifier":"578467f8-0197-1000-3e2b-f3f814379042"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"},{"identifier":"67828fa3-716f-318a-bb52-5812b7a319b3","instanceIdentifier":"58aeaeaf-0197-1000-e942-9e00ebe75308","name":"","source":{"id":"9115e8fd-4bc4-3729-a699-235ab8c97ad0","type":"PROCESSOR","groupId":"40df479a-9855-3463-95c9-b099c0dc4b7c","name":"ConvertRecord","comments":"","instanceIdentifier":"578467f8-0197-1000-3e2b-f3f814379042"},"destination":{"id":"403642cf-f12b-3f99-a740-1e1deea0709d","type":"PROCESSOR","groupId":"40df479a-9855-3463-95c9-b099c0dc4b7c","name":"PutCassandraRecord","comments":"","instanceIdentifier":"58ae9805-0197-1000-2cee-5db4bf792191"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"6849608b-42bb-3007-b6a2-ccec703fa0bb","instanceIdentifier":"5eaca98e-0197-1000-7172-068ce2700787","name":"CassandraSessionProvider","comments":"","type":"org.apache.nifi.service.CassandraSessionProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-cassandra-services-nar","version":"1.17.0"},"properties":{"SSL Context Service":null,"Username":"cassandra","Consistency Level":"ONE","Compression Type":"NONE","connect-timeout-ms":null,"Keyspace":"nifi_ks","read-timeout-ms":null,"Client Auth":"REQUIRED","Cassandra Contact Points":"10.0.2.70:9042"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Consistency Level":{"name":"Consistency Level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"Compression Type":{"name":"Compression Type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"connect-timeout-ms":{"name":"connect-timeout-ms","displayName":"Connect Timout (ms)","identifiesControllerService":false,"sensitive":false},"Keyspace":{"name":"Keyspace","displayName":"Keyspace","identifiesControllerService":false,"sensitive":false},"read-timeout-ms":{"name":"read-timeout-ms","displayName":"Read Timout (ms)","identifiesControllerService":false,"sensitive":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Cassandra Contact Points":{"name":"Cassandra Contact Points","displayName":"Cassandra Contact Points","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.cassandra.CassandraSessionProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-cassandra-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"},{"identifier":"292bdecf-0513-3ed7-8f64-e88ef0dd822b","instanceIdentifier":"58ae41c6-0197-1000-f26f-b446bc264630","name":"AvroRecordSetWriter","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.17.0"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"},{"identifier":"eb9d187f-d328-3235-94fc-a49939f6eec7","instanceIdentifier":"577e5999-0197-1000-01f1-94cdc19eadc5","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"1.17.0"},"properties":{"ssl-context-service":null,"ssl-client-auth":"REQUIRED","Database User":"root","mongo-uri":"mongodb://root:root@10.0.2.80:27017/?authSource=admin"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"mongo-uri":{"name":"mongo-uri","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"},{"identifier":"eee704a9-6671-387f-a7cc-900d209a95de","instanceIdentifier":"58ae24a5-0197-1000-1f17-ffb083140112","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.17.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"},{"identifier":"04a9539c-b2c4-3b73-b6fc-b3d9a2094d8f","instanceIdentifier":"58b4ef0c-0197-1000-c829-5b235a1f1eda","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.17.0"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"40df479a-9855-3463-95c9-b099c0dc4b7c"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}